<ion-header>
  <ion-toolbar>
    <ion-title>Asistente IA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="chat-container">

  <div class="chat-list">
    <div *ngFor="let msg of chatHistory" 
         [class.user]="msg.role === 'user'" 
         [class.ai]="msg.role === 'ai'" 
         class="message-bubble">
      {{ msg.content }}
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar class="input-toolbar">
    <ion-input
      placeholder="Pregúntame lo que quieras…"
      [(ngModel)]="message"
      (keyup.enter)="sendMessage()"
    ></ion-input>

    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" (click)="sendMessage()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
