<ion-content [fullscreen]="true">

  <div class="welcome-header">
    </div>

  <div class="welcome-content-container">

    <h1 class="ion-no-margin">FINANZ<span>APP</span></h1>
    <h2 class="ion-margin-top">Toma el control de tus finanzas.</h2>
    
    <p class="ion-margin-top">
      Tu asesor financiero personal. Registra, analiza y optimiza tu dinero 
      con el poder de la inteligencia artificial.
    </p>

    <ion-grid class="ion-no-padding ion-margin-top">
  <ion-row>
    <ion-col size="6">
      <ion-button routerLink="/register" color="primary">
        Empezar Ahora
      </ion-button>
    </ion-col>
    
    <ion-col size="6">
      <ion-button 
        routerLink="/login" 
        class="btn-secondary"
        fill="outline"> Ya tengo Cuenta
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

  </div>
</ion-content>